body {
	background-color: aliceblue;
	height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
}

.calculator {
  box-shadow: 2px 2px 5px rgb(160, 206, 166);
  border-radius: 10px;
	width: 320px;
	height: 480px;
}

.display {
	background-color: #1f2933;
	height: 25%;
}

.buttons {
  height: 75%;
}

button{
  background-color: rgb(252, 252, 252);
  border-width: 0.1px;
  width: 25%;
  height: 20%;
}
